<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://snapsvg.io/assets/js/prism.js"></script>
    <script src="http://snapsvg.io/assets/js/snap.svg-min.js"></script>
</head>
<body>
    <script src="../js/myScript.js"></script>
    <var id = "aaa">7</var>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:text="'Circle radious = ' + ${radious}" />
    <!--button id="demo" onclick="myFunction()">Click me</button-->
    <button id="demo">Click me</button>
</body>
</html>
