<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://snapsvg.io/assets/js/prism.js"></script>
    <script src="http://snapsvg.io/assets/js/snap.svg-min.js"></script>
    <script>
    /*
        var bigCircle;
        window.onload = function () {

            var s = Snap(850, 600);
            bigCircle = s.circle(300, 300, pepe);
            }
            */
    </script>
</head>
<body>
    <script src="../js/myScript.js"></script>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:text="'Circle radious = ' + ${radious}" />
    <button id="demo" onclick="myFunction()">Click me</button>
    
</body>
</html>
